<?xml version="1.0"?>
<connectionStrings>
  <add name="ApplicationServices" connectionString="Data Source=localhost\SQLExpress;Initial Catalog=WeeklyThaiRecipe;Integrated Security=True" providerName="System.Data.SqlClient" />
  <add name="WeeklyThaiRecipe" connectionString="Data Source=.\SQLEXPRESS;Initial Catalog=WeeklyThaiRecipe;Integrated Security=True" providerName="System.Data.SqlClient" />
</connectionStrings>
