<?xml version="1.0"?>
<connectionStrings>
  <add name="ApplicationServices" connectionString="Data Source=;Initial Catalog=WeeklyThaiRecipe;Integrated Security=False;user id=;password=" providerName="System.Data.SqlClient" />
  <add name="WeeklyThaiRecipe" connectionString="Data Source=;Initial Catalog=WeeklyThaiRecipe;Integrated Security=False;user id=;password=" providerName="System.Data.SqlClient" />
</connectionStrings>
